.header {
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    border-bottom: 1px solid #e6ecf0;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .header-tab {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #657786;
  }
  
  .header-tab.active {
    color: #1da1f2;
    border-bottom: 3px solid #1da1f2;
  }
  